<h1 id="type">Dashboard</h1>
<p>Overview about all your Tickets</p>
<div class="page-header"></div>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">

      <%= column_chart Ticket.group_by_day(:created_at, format: "%b %d, %Y").count %>
    </div>
  </div>

<table id="datatable_tickets" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titel</th>
      <th>Client</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<% @tickets.each do |ticket| %>

      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.name %></td>
        <td><%= ticket.client %></td>
        <td><%= ticket.created_at.strftime("%b %d, %Y") %></td>
        <td><%= ticket.updated_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to 'Edit', edit_ticket_path(ticket), class: "label label-primary" %>
          <%= link_to 'Close', edit_ticket_path(ticket), class: "label label-success" %>
          <%= link_to "Delete", ticket_path(ticket), method: :delete,
                                  data: { confirm: "You sure?" }, class: "label label-danger" %>
        </td>
      </tr>

<% end %>

</tbody>
</table>
</div>
